/LibraryManager/nbproject/private/
/LibraryManager/nbproject/*
/LibraryManager/test
/LibraryManagerServer/controllers/books
/LibraryManagerServer/.idea/*
/LibraryManagerServer/node_modules/*
./npm-debug.log
.idea