
.main-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    text-align: center;
}

.main-content {
    width: 83%;
    display: inline-block;
    float: right;
    padding-top: 20px;
}