<div class="container login-padding">
    <div class="col-md-12">
        <div class="modal-dialog" style="margin-bottom:0">
            <div class="modal-content">
                <div class="panel-heading" style="text-align: center;">
                    <h2>Login to library manager</h2>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control"
                                       ng-model="user.login"
                                       placeholder="E-mail" 
                                       name="login" 
                                       type="text" autofocus="" >
                            </div>
                            <div class="form-group">
                                <input class="form-control" 
                                       ng-model="user.password"
                                       placeholder="Password" 
                                       name="password" 
                                       type="password" value=""
                                       >
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <div class="col-md-12 pagination-centered">
                                <button type="button" ng-click="login()" class="btn btn-success btn-primary btn-lg btn-block">Login</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>