<div class="row">
    <h1 class="page-header">Books</h1>
</div>
<div class="row">
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="showDetails(gridOptions.selectedItems)">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Show details
        </button>
        <button type="button" class="btn btn-default" ng-click="add()">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add new
        </button>
        <button type="button" class="btn btn-default" ng-click="editSelected(gridOptions.selectedItems)">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit selected
        </button>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
        </button>
    </div>
</div>
<div class="row" style="padding-top: 20px; ">
    <div style="margin: 0 auto; width: 100%; display: inline-block;">
        <div class="gridStyle" style="width: 98%;" ng-grid="gridOptions"></div>
    </div>
</div>